<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <title>@render("title") - My Website</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/pico.colors.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/global.css" />
  </head>
  <body>
    <header>
      <nav class="nav">
        <ul>
          <li><strong><a href="/"><i class="fa-solid fa-horse-head"></i></a></strong></li>
        </ul>
        <ul>
          <li><a href="/login" class="contrast">Login</a></li>
          <li><a href="/register" class="contrast">Register</a></li>
          <li><a href="/signout" class="contrast">Signout</a></li>
        </ul>
      </nav>
      <Lua code='if error == nil then data = "" end'>
        <article class="article__card article__card-error">
          <i class="fa-solid fa-triangle-exclamation"></i>
          <Lua code="data = error">
          </Lua>
        </article>
      </Lua>
    </header>
    <main class="container">
      <Lua code="data = children">
        <p></p>
      </Lua>
    </main>
  </body>
</html>
