<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="color-scheme" content="light dark" />
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/pico.colors.min.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/global.css" />
    <Lua code="format(maybe(title, 'Forum'))"><title>%s</title></Lua>
  </head>
  <body>
    <header>
      <nav class="nav">
        <ul>
          <li>
            <strong
              ><a href="/"><i class="fa-solid fa-horse-head"></i></a
            ></strong>
          </li>
        </ul>
        <ul>
          <Lua code="hide(user)"">
            <li><a href="/login" class="contrast">Login</a></li>
          </Lua>
          <Lua code="hide(user)">
            <li><a href="/register" class="contrast">Register</a></li>
          </Lua>
          <Lua code="show(user)">
            <li><a href="/signout" class="contrast">Signout</a></li>
          </Lua>
        </ul>
      </nav>
      <Lua code='if err == nil then data = "" end '>
        <article class="article__card article__card-error">
          <i class="fa-solid fa-triangle-exclamation"></i>
        </article>
      </Lua>
    </header>
    <main class="container">
      <Lua code="data = children"> </Lua>
    </main>
  </body>
</html>
